<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Climate Home</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<!-- Nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
		<a class="navbar-brand" href="#"><b>Latitude</b></a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarColor01">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item active">
        			<a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="index.html">Home</a>
      			</li>
      			<li class="nav-item dropdown">
        			<a id="plots" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Plots <span class="caret"></span></a>
      				<div class="dropdown-menu">
      				<a class="dropdown-item" href="visualization.html">Summary &amp; Information</a>
      					<div class="dropdown-divider"></div>
      					<a class="dropdown-item" href="max_temp.html">Maximum Temperature</a>
      					<a class="dropdown-item" href="humidity.html">Humidity</a>
      					<a class="dropdown-item" href="cloudiness.html">Cloudiness</a>
      					<a class="dropdown-item" href="wind_speed.html">Wind Speed</a>
      				</div>
      			</li>
    		</ul>
    		<ul class="navbar-nav ml-auto">
      			<li class="nav-item">
        			<a class="nav-link" href="comparison.html">Comparisons</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="visualization.html">Visualizations</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="data.html">Data</a>
      			</li>
    		</ul>
  		</div>
	</div>
</nav>

<!-- Page header -->
<div id="header" class="container">
	<div class="page-header">
		</br>
		<h1>The Latitude Project</h1>
		<hr>
		</br>
	</div>
</div>

<!-- Page content - Introduction -->
<div id="introduction" class="container">
	<div class="row card-columns">
  		<div class="col">
    		<div class="card">
      			<div class="card-body">
        			<h2 class="card-title">Latitude v Climate Variables</h2>
        			<hr>
        			<img id="intro-image" class="img-thumbnail float-left" src="../static/images/max_temp.png" alt="Latitude v Max Temps">
        			<p id="intro-text" class="card-text">In this project, we analyzed how wind speed, humidity, maximum temperature and cloudiness
        			relate to the Earth's latitude. We generated latitude and longitude values of no less than 500 locations and matched them to the closest city using Python APIs
        			and then used the OpenWeather API to get the weather conditions of those cities. 
        			</br></br>
        			Then we used Pandas to process the data and then plotted them using Matplotlib. From here we looked at the relationships
        			between latitude and cloudiness, humidity, wind speed and maximum temperatures.
        			</br></br>
        			Feel free to explore the analyses performed and the data that was used to draw our conclusions. Here you can see the data table, compare the different plots at
        			once one page, go to the general visualizations page ("Home" page for the visualizations) and individual pages for each of the plots with more specific analyses
        			and conclusions.</p>
      			</div>
    		</div>
  		</div>
  		<div class="col">
    		<div class="card">
      			<div class="card-body">
        			<h2 class="card-title">Visualizations</h2>
        			<hr>
        			<div class="thumbnail-content">
  						<div class="row">
    						<div class="col">
    							<figure class="figure">
  									<img src="../static/images/max_temp.png" class="figure-img img-fluid" alt="Latitude v Maximum Temperature">
								</figure>
    						</div>
    						<div class="col">
    							<figure class="figure">
  									<img src="../static/images/humidity.png" class="figure-img img-fluid" alt="Latitude v Humidity">
								</figure>
    						</div>
  						</div>
  						<div class="row">
    						<div class="col">
    						    <figure class="figure">
  									<img src="../static/images/cloudiness.png" class="figure-img img-fluid" alt="Latitude v Cloudiness">
								</figure>
    						</div>
    						<div class="col">
    							<figure class="figure">
  									<img src="../static/images/wind_speed.png" class="figure-img img-fluid" alt="Latitude v Wind Speed">
								</figure>
    						</div>
  						</div>
					</div>
				</div>	
    		</div>
  		</div>
	</div>
</div>

<!-- Footer -->
<footer id="footer">
	</br>
	<div class="container">
		<hr>
		<p>Created by Stefanie K. from the Washington, DC Metropolitan Area</p>
	</div>
	</br>
</footer>

<!-- ===== JavaScript placed at the end of the HTML to help the page load faster ===== -->
<script src="../static/js/jquery-3.4.1.slim.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>    
</body>
</html>