<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Latitude Max Temp Analysis</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<!-- Nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
		<a class="navbar-brand" href="#"><b>Latitude</b></a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarColor01">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item active">
        			<a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="index.html">Home</a>
      			</li>
      			<li class="nav-item dropdown">
        			<a id="plots" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Plots <span class="caret"></span></a>
      				<div class="dropdown-menu">
      					<a class="dropdown-item" href="visualization.html">Summary &amp; Information</a>
      					<div class="dropdown-divider"></div>
      					<a class="dropdown-item" href="max_temp.html">Maximum Temperature</a>
      					<a class="dropdown-item" href="humidity.html">Humidity</a>
      					<a class="dropdown-item" href="cloudiness.html">Cloudiness</a>
      					<a class="dropdown-item" href="wind_speed.html">Wind Speed</a>
      				</div>
      			</li>
    		</ul>
    		<ul class="navbar-nav ml-auto">
      			<li class="nav-item">
        			<a class="nav-link" href="comparison.html">Comparisons</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="visualization.html">Visualizations</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="data.html">Data</a>
      			</li>
    		</ul>
  		</div>
	</div>
</nav>

<!-- Page header -->
<div id="header" class="container">
	<div class="page-header">
		</br>
		<h1>Visualization Maximum Temperature Analysis</h1>
		<hr>
		</br>
	</div>
</div>

<!-- Page content - Max temp analysis -->
<div id="max-temp" class="container">
	<div class="row card-columns">
  		<div class="col-sm-8">
    		<div class="card">
      			<div class="card-body">
        			<h2 class="card-title">Latitude &amp; Maximum Temperature</h2>
        			<hr>
        			<img id="temp-image" class="img-fluid" src="../static/images/max_temp.png" alt="Latitude v Max Temps">
        			<p id="temp-text" class="card-text">The scatter plot is showing that there is little randomness which tells us that there is a relationship between the latitude and the maximum temperature. It gives us a 
        			parabolic shape. The scatter plot shows that the highest temperatures are around the 0 degree mark also known as the equator. As we move form the 0 degree mark in the middle to either side, that the maximum
        			temperatures are decreasing. However, we can see that slope seems to be steeper in the northern hemisphere which may be because the northern hemisphere is in the winter season (as indicated in the plot title).
        			</br></br>
        			It is important to note that it was expected that the maximum temperatures will be highest around the equator, but using the tools necessary, there is data that actually support that hypothesis.</p>
      			</div>
    		</div>
  		</div>
  		<div class="col">
    		<div class="card">
      			<div class="card-body">
        			<h2 class="card-title">Visualizations</h2>
        			<hr>
        			<div class="summary-content">
  						<div class="row card-column">
    						<div class="col">
    							<figure class="figure">
  									<a href="max_temp.html"><img id="visual-image-one" src="../static/images/max_temp.png" class="img-thumbnail" alt="Latitude v Maximum Temperature"></a>
  								</figure>
    						</div>
    						<div class="col">
    							<figure class="figure">
  									<a href="humidity.html"><img id="visual-image-two" src="../static/images/humidity.png" class="img-thumbnail" alt="Latitude v Humidity"></a>
  								</figure>
    						</div>
  						</div>
  						<div class="row">
    						<div class="col">
    							<figure class="figure">
  									<a href="cloudiness.html"><img id="visual-image-three" src="../static/images/cloudiness.png" class="img-thumbnail" alt="Latitude v Cloudiness"></a>
  								</figure>
    						</div>
    						<div class="col">
    							<figure class="figure">
  									<a href="wind_speed.html"><img id="visual-image-four" src="../static/images/wind_speed.png" class="img-thumbnail" alt="Latitude v Wind Speed"></a>
  								</figure>
    						</div>
  						</div>
					</div>
      			</div>
    		</div>
  		</div>
	</div>
</div>

<!-- Footer -->
<footer id="footer">
	</br>
	<div class="container">
		<hr>
		<p>Created by Stefanie K. from the Washington, DC Metropolitan Area</p>
	</div>
	</br>
</footer>

<!-- ===== JavaScript placed at the end of the HTML to help the page load faster ===== -->
<script src="../static/js/jquery-3.4.1.slim.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>    
</body>
</html>