/* ALL */
.card {
	background-color: #E7E0F3;	
}

/* HOME PAGE */
#intro-image {
	height: 200px;
	width: 200px;
	margin-right: 5px;
}

.card-text {
    margin-left: 5px;
	word-wrap: break-word;
}

/* VISUALIZATION PAGE, MAXIMUM TEMPERATURE PAGE, HUMIDITY PAGE, CLOUDINESS PAGE, WIND SPEED PAGE */
#visual-image-one, #visual-image-two, #visual-image-three, #visual-image-four {
	width: 100%;
	height: auto;
}

/* MAXIMUM TEMPERATURE PAGE, HUMIDITY PAGE, CLOUDINESS PAGE, WIND SPEED PAGE */
#temp-text, #humidity-text, #cloudiness-text, #wind-text {
	margin-top: 5px;	
}

/* DATA PAGE*/
/* None */

/* COMPARISONS PAGE */
/* None */
