/* HOME PAGE */
/* Introduction Card */
.card {
	background-color: #E7E0F3;	
}

#intro-image {
	height: 65%;
	width: 65%;
	float: left;
	padding: 0 5px;
}

.card-text {
	margin-left: 10px;
	word-wrap: break-word;
}

/* DATA PAGE*/
/* None */

/* COMPARISONS PAGE */
/* Cards */
#compare-image-one, #compare-image-two, #compare-image-three, #compare-image-four {
	height: 80%;
	width: 100%;
	padding-bottom: 5%;
}
/* Visualizations Card */
#visual-image-one, #visual-image-two, #visual-image-three, #visual-image-four {
	height: 110%;
	width: 100%;
}

#visual-image-one, #visual-image-two {
	padding-bottom: 25px;
}

#visual-image-three, #visual-image-four {
	padding-bottom: 21px;
}

/* VISUALIZATIONS PAGE */

